#output-box
{
    height: 300px;
    width: 600px;
    overflow: auto;
    position: relative;
    margin-left: 10px;
    padding: 10px;
    outline: auto;
}

.top-title
{
    color: #92110C;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #92110C;

    color: #dfd3d3;
}
  
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
  overflow: hidden; /* added to hide any overflow */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  

/* 
**  Table Styling
**
*/
table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  table-layout: auto; /* Fit to content */
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

table td:first-child {
    background-color: #92110C;
    color: white;
}


/******************************/
/*Search Page styles
/******************************/

.search-container {
  display: grid;
  grid-template-columns: 25% 75%; /* Sidebar takes 1/4 width, content takes 3/4 */
  gap: 10px;
}

.sidebar, .main-search-content {
  padding: 10px;
}

/******************************/
/* Search Content Styles 
/******************************/
  
.main-search-content {
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

/**********************/
/* Search Sidebar Styles 
/*********************/

.sidebar {
  background-color: #f0f0f0;
}

#search-text-input {
  width: 100%;
  box-sizing: border-box;
}

.search-by-options,
.filter-options {
  margin-bottom: 20px;
}
  
.search-by-options h3,
.filter-options h3 {
  margin-bottom: 10px;
}

.search-by-options label {
  display: block;
  margin-bottom: 5px;
}

#rating-content label {
  display: block;
  margin-bottom: 5px;
}

#word-count-content {
  display: flex;
  flex-direction: column; /*  Put the label and slider on separate lines */
  align-items: flex-start;
}

#word-count-value {
  margin-left: 10px;
}



/*****************************/
/* Standard Component Styles
/****************************/
.my-button {
  background-color: #92110C; /* Primary button color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Vertical and horizontal padding */
  margin: 5px 5px 5px 0px;
  font-size: 14px; /* Text size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  pointer-events: auto;
}

.my-button:hover {
  background-color: #a11611; /* Darker shade on hover */
}

.my-button:active {
  background-color: #92110C; /* Even darker shade when pressed */
  transform: scale(0.98); /* Slightly decrease size to simulate pressing */
}

.my-button:focus {
  box-shadow: 0 0 0 1px rgba(139, 141, 143, 0.603); /* Custom focus outline */
}





.favorite-toggle {
  cursor: pointer;
  font-size: 1.5em;  /* Adjust size as needed */
}

.favorite-toggle.is-favorite {
  color: gold;  /* Or any color to indicate 'favorited' state */
}

.favorite-toggle:hover {
  opacity: 0.7;  /* Optional: for better interaction feedback */
}